body {
    margin: 0;
    padding: 0;
    background-color: #0a0c14;
    color: #ffffff;
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#exhibition-scene {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* --- DAS WETTER --- */
#sky-background {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Ein sanftes, klares Licht (Die Wahrheit) */
    background: radial-gradient(circle at 50% 60%, #2980b9 0%, #0a0c14 80%);
    z-index: 0;
}

#storm-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Der dunkle Sturm (Wird über JS langsam ausgeblendet) */
    background: linear-gradient(to bottom, #11141d 0%, #202635 100%);
    z-index: 1;
    transition: opacity 0.2s ease-out;
}

#rain-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background: linear-gradient(to bottom, #111a1f 0%, #05080a 100%);
    z-index: 2;
}

/* --- DIE ZWEITEILIGE FIGUR --- */
#person-wrapper {
    position: absolute;
    bottom: -19vh;
    /* Steht auf dem Boden */
    left: 50%;
    transform: translateX(-50%);
    /* Exakt in der Mitte zentriert */
    width: 25vh;
    height: 80vh;
    z-index: 4;
}

/* Beide SVG-Container liegen absolut passgenau übereinander */

#person-cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#person-colorful {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#person-colorful img,
#person-cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

#person-cover {
    clip-path: inset(var(--reveal-percentage, 0%) 0 0 0);
    transition: clip-path 0.1s linear;
}


svg {
    width: 100%;
    height: 100%;
}

/* --- UI --- */
#ui-overlay {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}

#percentage-text {
    font-size: 3rem;
    font-weight: 200;
}

.percent-sign {
    font-size: 1.5rem;
    opacity: 0.5;
}

#milestone-message {
    font-size: 2rem;
    color: #f1c40f;
    letter-spacing: 5px;
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(10px);
}

#milestone-message.show {
    opacity: 1;
    transform: translateY(0);
}